<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Yireo\GraphQlSchemaManipulation\Plugin\AddSchemaManipulators">
        <arguments>
            <argument name="schemaManipulators" xsi:type="array">
                <item name="removeMollie" xsi:type="object">Yireo\RemoveMollieEndpointsGraphQl\Schema\SchemaManipulator</item>
            </argument>
        </arguments>
    </type>
</config>
